<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="http://express.heartrails.com/api/express.js"></script>
    <!--<title> 駅から探すPR</title>-->
    <meta http-equiv="content-type" charset="utf-8">
    <link rel="stylesheet" href="../../assets/stylesheets/forindex.css">
  </head>


  <body onload="HRELoadArea('area', 'line', 'station');">

    <div class="rail">
       <%= image_tag 'rail.png'%>
       <div class="tram">
         <%# <img id="tram" src="tram.png"/ > %>
         <%= image_tag 'tram.png', id: "tram" %>
       </div>
    </div>
    <div class="rep"><h3> 駅から探すPR </h3></div>


    <%=  form_tag'/summary?page=1', :method => :get do |f| %>
       <div class="boxforinput">
    駅を選んで下さい<br>
        <select id="area" name="area" onchange="HREOnChangeArea();">
          <option value="エリア">エリア</option>
        </select><br>
        <select id="line" name="line" onchange="HREOnChangeLine();">
         <option value="路線">路線</option>
        </select><br>
        <select id="station" name="eki">
          <option value="駅">駅</option>
        </select><br>
          <!--           カテゴリ<input type="text" name="ctg"><b> -->

          カテゴリーを選んで下さい<br>
            <select id="category" name="cate">
            <option value="003">流通</option>
            <option value="004">エンタテイメント</option>
            <option value="005">スポーツ・アウトドア</option>
            <option value="007">出版・アート・カルチャー</option>
            <option value="008">ゲーム・おもちゃ</option>
            <option value="010">インテリア・雑貨</option>
            <option value="012">アパレル・ファッション</option>
            <option value="014">美容・健康</option>
            <option value="018">教育・資格・人材</option>
            <option value="019">ホテル・レジャー</option>
            <option value="024">外食・中食</option>
            <option value="026">暮らし</option>
            <option value="028">交通・運輸・輸送</option>
          </select><br>

          駅からの距離<br>
          <input type="text" id="dis" name="dis">kmまで<br>

          <div class="bt">
            <a class="btn-open">
              <%= submit_tag "Go!",class: "bt_text" %>
            </a>
          </div>
      </div>
    <% end %>
  <script>
    var area=document.querySelector("#area");
    var line=document.querySelector("#line");
    var station=document.querySelector("#station");
    var category=document.querySelector("#category");
    var din=document.getElementById( "dis" ) ;

    var tr=document.getElementById('tram');
    var mv=0;

    function movetram(){
      mv+=64;
      tr.style.webkitTransform = 'translateX('+mv+'px)';
    }
    area.addEventListener('change', function(){
      movetram();
    });
    line.addEventListener('change', function(){
      movetram();
    });
    station.addEventListener('change', function(){
      movetram();
    });
    category.addEventListener('change', function(){
      movetram();
    });
    din.addEventListener('input', function(){
      movetram();
    });


function givedt(){
      var d=document.info.dis.value;
      var stn=document.getElementById("station").value;
      var cat=document.getElementById("category").value;
      if(isNaN(d)){
        alert('距離には半角数字を入力して下さい');
      }
      else{
        alert(d+' '+stn+' '+cat);
      }
      }
  </script>

</html>
