<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../assets/stylesheets/forindex.css">
    <meta charset="utf-8"/>
  </head>


  <body>
    <h3 style="margin: 50px;
      font-size: 1.4em;
      margin-bottom: 220px;
      letter-spacing: 0.6em;
      line-height:2em;"> データが<br>取得できませんでした</h3>

   <%= image_tag 'tram.png', id: "tram",style: "transform: scale(2,-2)
          rotate(12deg);" %>
   <div style="height:20px;
   width: 240px;
   margin: 0 auto;
   margin-top: 16px;
   margin-bottom: 20px;
   background: #a0a0a0;
   border-radius: 50%;"></div>

    <div class="bt">
      <a href="/" class="btn-open">Back</a>
    </div>
  </body>
</html>
