<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="content-type" charset="UTF-8">
<link rel="stylesheet" href="stylt.css">
<title>summary</title>
</head>
<body>
<script type="text/javascript">
for (var i = 0; i < 10; i++){
   	document.write("<h1>タイトル</h1>");
	document.write(`
	 <div style="position: relative;">
	 <img src="http://placehold.jp/720x480.png">
	 <div style="position:absolute; top:420px; left:600px; width: 90px;">
	 <p style="font-size:20px"><p style="background-color:white">～配信日～</p></p>
	 </div></div>
	`);
	document.write("<h2>提供：企業名</h2>");
}
</script>
</body>
</html>