body{
  font-family: sans-serif;
  color: #404040;
  background: #e0e0e0;
  text-align: center;
}

select{
  width: 150px;
}

input{
  width: 60px;
}

header{
  margin: 0px;
  height: 60px;
  background: #485ECA;
  color: white;
}

.rail{
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.tram{
  position: absolute;
  top: 20%;
  left: 0;
  transition: 3s;
}
.tram:hover{
  height: 70px;
}


.boxforinput{
  background: white;
  border-radius: 2%;
  width: 230px;
  height: 270px;
  line-height: 30px;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 40px;
}

 .bt {
  text-align: center;
  font-family:'arial black','Impact';
  text-align: center;
  padding-top: 15px;
}
.btn-open {
  display: inline-block;
  width: 100px;
  height:30px;
  text-align: center;
  background-color: #485ECA;
  font-size: 16px;
  line-height: 30px;
  color: #FFF;
  text-decoration: none;
  border: 2px solid #485ECA;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-open:after{
  width: 100%;
  height: 0;
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  background : #FFF;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: .2s;
  z-index: -1;
}
.btn-open:hover{
  color: #485ECA;
}
.btn-open:hover:after{
  height: 240%;
  opacity: 1;
}
.btn-open:active:after{
  height: 340%;
  opacity: 1;
}

.bt_text {
  background-color: #485ECA;
  box-sizing: border-box;
  border: 0px;
  font-size: 16px;
  line-height: 30px;
  color: #FFF;
  font-family: 'arial black','Impact';
}

.btn-open:hover .bt_text {
  background-color: rgba(0,0,0,0);
  color: #485ECA;

}